@using umbraco.MacroEngines
@inherits DynamicNodeContext
          


@{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="umbraco/plugins/Wecode.Umbraco.ChartTool/chartToolHelpers.js"></script>
    <script type="text/javascript">
        var settings = $.parseJSON('@Html.Raw(@Model.GetProperty("chartTool").Value)');
        $(function() {
            chooseChartType(true);
        });
    </script>
    
     <div id="chart_div" style="width:700px; height:500px"></div>
}